.parentbox  {
height:89vh;
background-color: whitesmoke;
left: 0;
margin: 10 10 10 10;
border-radius: 20px;
box-shadow: 3px 3px rgb(192, 217, 226), -.4em  0.2em .4em rgb(151, 181, 218);
overflow:auto ;
}


.container{
    margin: 1vh auto !important;
    padding: 0!important; 
}
.participantMedia {
    border-width: 4px;
    border-style: ridge;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 4px;
    max-width: 96.5%;
  }



