/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
} */

header {
  margin-top: 3%;
  background-color: white;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: black;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  margin-top: 5%;
  color: black;
}
.timer {
  float: right;
  color: blue;
}
.question-box {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 63%;
  margin: 16px;
  float: left;
  margin-top: 5%;
  margin-left: 3%;
}

.question-box h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  margin-top: 3%;
  margin-left: 3%;
}
hr {
  color: rgb(216, 215, 215);
  border-bottom: 0px;
}
.question-box p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 0px;
  margin-left: 3%;
}
.option-list {
  margin-left: 3%;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #4caf50;
  color: white;
}

.button1:hover {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button2 {
  color: #555555;
  background-color: #e7e7e7;
}

.button2:hover {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button3 {
  background-color: #f5ba13;
  color: white;
}

.button3:hover {
  background-color: white;
  color: black;
  border: 2px solid #f5ba13;
}

.button4 {
  background-color: #008cba;
  color: white;
}

.button4:hover {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.button5 {
  background-color: #555555;
  color: white;
}

.button5:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.buttons-box {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 30%;
  margin: 16px;
  float: right;
  font-size: 12px;
  margin-top: 5%;
}

.nv {
  background-color: rgb(223, 217, 217);
  width: 40px;
  height: 40px;
  border: white;
  float: left;
  margin-left: 10%;
  margin-top: 7%;
}
.na {
  color: white;
  background-color: red;
  width: 40px;
  height: 40px;
  border: white;
  float: left;
  margin-left: 17%;
  margin-top: 7%;
}
.amr {
  color: white;
  background-color: rgb(240, 180, 17);
  width: 40px;
  height: 40px;
  border: white;
  float: left;
  margin-left: -308px;
  margin-top: 48%;
}
.a {
  color: white;
  background-color: green;
  width: 40px;
  height: 40px;
  border: white;
  float: left;
  margin-left: -62%;
  margin-top: 10%;
}
.mr {
  color: white;
  background-color: #008cba;
  width: 40px;
  height: 40px;
  border: white;
  float: left;
  margin-left: -16%;
  margin-top: 10%;
  margin-bottom: 7%;
}

.gray {
  margin-top: 10%;
  margin-left: 2%;
  float: left;
}
.red {
  margin-top: 10%;
  margin-left: 2%;
  float: left;
}
.yellow {
  margin-bottom: 5%;
  margin-top: 34%;
  margin-left: 24%;
  float: left;
}
.blue {
  margin-top: -30%;
  margin-left: 69%;
  float: left;
}
.green {
  margin-top: 12%;
  margin-left: -50%;
  float: left;
}
.mark-box {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 30%;
  margin: 16px;
  float: right;
  font-size: 12px;
  margin-top: 2%;
}
.mark-button {
  background-color: rgb(223, 217, 217);
  width: 40px;
  height: 40px;
  border: white;
  float: left;
  margin-left: 5%;
  margin-top: 2%;
}
